Repository openstack/heat: changes, and which Zuul jobs are due for each by the changed paths.
All: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

heat-functional-devstack-base:
  parent: legacy-dsvm-base
  run: playbooks/devstack/functional/run.yaml
  post-run: playbooks/devstack/functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/aodh
  - openstack/barbican
  - openstack/barbican-tempest-plugin
  - openstack/ceilometer
  ...

heat-functional-legacy:
  parent: heat-functional-devstack-base
  vars:
    disable_convergence: 'true'

heat-functional:
  parent: heat-functional-devstack-base

heat-functional-amqp1:
  parent: heat-functional-devstack-base
  voting: false
  branches: master
  vars:
    use_amqp1: 1

heat-functional-non-apache:
  parent: heat-functional-devstack-base
  voting: false
  vars:
    use_apache: 0

grenade-heat:
  parent: legacy-dsvm-base
  run: playbooks/devstack/grenade/run.yaml
  post-run: playbooks/devstack/functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/heat
  - openstack/heat-tempest-plugin
  vars:
    topology: aio
    branch_override: default

grenade-heat-multinode:
  parent: grenade-heat
  nodeset: ubuntu-bionic-2-node
  roles:
  - zuul: zuul/zuul-jobs
  pre-run: playbooks/devstack/multinode-networking/pre.yaml
  vars:
    topology: multinode

Add Python3 victoria unit tests
  .zuul.yaml
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  heat/locale/de/LC_MESSAGES/heat.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: none

Optimise resource type listing
  heat/engine/environment.py
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Ensure use of stored properties in actions
  heat/engine/resource.py
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Check external resources after creation
  heat/engine/resource.py
  heat/tests/generic_resource.py
  heat/tests/test_resource.py
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Deprecate wrappertask decorator
  heat/engine/resource.py
  heat/engine/scheduler.py
  heat/engine/stack.py
  heat/engine/update.py
  heat/tests/test_stack_update.py
  requirements.txt
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Update pep8 rules
  heat/common/policy.py
  heat/db/sqlalchemy/api.py
  heat/engine/resources/openstack/blazar/host.py
  heat/engine/resources/openstack/neutron/floatingip.py
  heat/engine/resources/openstack/neutron/qos.py
  heat/engine/resources/server_base.py
  heat/engine/resources/signal_responder.py
  heat/tests/openstack/cinder/test_qos_specs.py
  heat/tests/openstack/neutron/test_sfc/test_flow_classifier.py
  heat/tests/openstack/neutron/test_sfc/test_port_chain.py
  heat/tests/openstack/neutron/test_sfc/test_port_pair.py
  heat/tests/openstack/neutron/test_sfc/test_port_pair_group.py
  heat/tests/openstack/neutron/test_taas/test_tap_flow.py
  heat/tests/openstack/neutron/test_taas/test_tap_service.py
  heat/tests/openstack/nova/fakes.py
  heat/tests/openstack/nova/test_host_aggregate.py
  tox.ini
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

pep8: Enable E226
  heat/engine/resource.py
  heat/tests/openstack/heat/test_remote_stack.py
  heat_integrationtests/functional/test_heat_autoscaling.py
  tox.ini
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Clean up API policy decorators
  heat/api/openstack/v1/util.py
  heat/tests/api/openstack_v1/test_util.py
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Simplify logic in retrigger_check_resource()
  heat/engine/check_resource.py
  heat/engine/worker.py
  heat/tests/engine/test_check_resource.py
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Add a /healthcheck URL
  etc/heat/api-paste.ini
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Reduce Heat engine workers
  devstack/lib/heat
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Monkey patch original current_thread _active
  heat/cmd/all.py
  heat/cmd/api.py
  heat/cmd/api_cfn.py
  heat/cmd/engine.py
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Refactor Properties._get_property_value()
  heat/engine/properties.py
  heat/engine/resources/openstack/heat/value.py
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Allow null values to be returned from Macros
  heat/engine/function.py
  heat/engine/properties.py
  heat/engine/resources/openstack/heat/resource_group.py
  heat/tests/test_function.py
  heat/tests/test_properties.py
  heat/tests/test_rsrc_defn.py
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Imported Translations from Zanata
  heat/locale/de/LC_MESSAGES/heat.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Add propagate_uplink_status support to OS::Neutron::Port
  heat/engine/resources/openstack/neutron/port.py
  heat/tests/openstack/neutron/test_neutron_port.py
  releasenotes/notes/add-port-uplink-status-propagation-abd90d794e330d31.yaml
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Fix pep8 E741 errors
  heat/engine/resources/openstack/neutron/l2_gateway.py
  heat/tests/engine/test_dependencies.py
  heat/tests/fakes.py
  heat_integrationtests/common/test.py
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Use Fedora 31 for tests
  .zuul.yaml
  devstack/lib/heat
  doc/source/getting_started/on_devstack.rst
  heat_integrationtests/cleanup_test_env.sh
  heat_integrationtests/prepare_test_env.sh
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Fix hacking min version to 3.0.1
  test-requirements.txt
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache

Add native grenade zuul v3 jobs
  .zuul.yaml
  playbooks/devstack/grenade/post.yaml
  playbooks/devstack/grenade/run.yaml
  playbooks/devstack/multinode-networking/pre.yaml
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Fix pygments style
  api-ref/source/conf.py
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Switch to newer openstackdocstheme and reno versions
  api-ref/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Allow scale-down of ASG as part of update
  heat/engine/resources/aws/autoscaling/autoscaling_group.py
  heat/engine/resources/openstack/heat/instance_group.py
  heat/tests/openstack/heat/test_instance_group.py
  heat/tests/openstack/heat/test_instance_group_update_policy.py
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Don't store signal_url for ec2 signaling of deployments
  heat/engine/resources/signal_responder.py
  heat/engine/resources/wait_condition.py
  heat/tests/aws/test_waitcondition.py
  heat/tests/engine/service/test_stack_resources.py
  heat/tests/test_metadata_refresh.py
  heat/tests/test_signal.py
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Use never expiring alarm_url for resource attributes
  heat/engine/resources/aws/autoscaling/scaling_policy.py
  heat/engine/resources/openstack/heat/scaling_policy.py
  heat/engine/resources/openstack/mistral/workflow.py
  heat/engine/resources/openstack/sahara/job.py
  heat/engine/resources/signal_responder.py
  heat/tests/autoscaling/test_heat_scaling_policy.py
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Use unittest.mock instead of mock
  heat/tests/openstack/ironic/test_port.py
  lower-constraints.txt
Due: heat-functional-devstack-base, heat-functional-legacy, heat-functional, heat-functional-amqp1, heat-functional-non-apache, grenade-heat, grenade-heat-multinode

Path conditions:
  heat-functional-devstack-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^heat/locale/.*$, ^heat/tests/.*$, ^releasenotes/.*$
  heat-functional-legacy: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^heat/locale/.*$, ^heat/tests/.*$, ^releasenotes/.*$
  heat-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^heat/locale/.*$, ^heat/tests/.*$, ^releasenotes/.*$
  heat-functional-amqp1: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^heat/locale/.*$, ^heat/tests/.*$, ^releasenotes/.*$
  heat-functional-non-apache: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^heat/locale/.*$, ^heat/tests/.*$, ^releasenotes/.*$
  grenade-heat: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^heat/locale/.*$, ^heat/tests/.*$, ^releasenotes/.*$, ^setup.cfg$
  grenade-heat-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^heat/locale/.*$, ^heat/tests/.*$, ^releasenotes/.*$, ^setup.cfg$
